html {
	height: 100%;
	font-size: 10px;
	background-color: black;
}

body {
	width: 100%;
	height: 10%;
	background: white;
	/*background:radial-gradient(#F8A4D8, #6C63FF);*/
	/*background-image: //insert image link here*/
}

.visualizer {
  height: 500px;
}

h1 {
  font-size: 5rem;
  padding-top: 1.2rem;
}

.header {
	height: 100%;
	max-width: 800px;
	margin: 0 auto;
}

header {
  height: 120px;
}

canvas {
  width: 1000px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-bottom: -3px;

}
