@import url('https://fonts.googleapis.com/css?family=Passion+One');

body {
	width: 100%;
	height: 10%;
	background: black;
	/*background:radial-gradient(#F8A4D8, #6C63FF);*/
	/*background-image: //insert image link here*/
}

.green {

}

.visualizer {
  display: flex;
  height: 500px;
}

h1 {
  font-size: 5rem;
  color: white;
  font-family: Passion One;
}

h4 {
  font-size: 2.5rem;
  color: white;
  font-family: Passion One;
}

header {
  height: 120px;
  background-color: black;
}

canvas {
  display: flex;
  height: 70%;
  width: 100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-bottom: -3px;

}
.button {
  border-radius: 28px;
  text-shadow: 2px 2px 2px black;
  font-family: Passion One;
  font-size: 32px;
  padding: 40px;
}

#mainBtn {
  background: black;
  color: white;
}

#mainBtn:hover {
  background: white;
  color: black;
}

#greenBtn {
  background: black;
  color: white;
  display: none;
}

#greenBtn:hover {
  background: green;
  color: black;
}
